<form class="pbta-attribute-dialog">
    <ol>
        {{#each choices}}
        <li class="flexrow" data-uuid="{{@index}}">
            <input class="choice" type="radio" name="{{../attribute}}" value="{{@index}}" data-dtype="Number" {{checked (eq @index 0)}}>
			{{#if (or (eq ../type "LongText") (eq ../type "Details"))}}
				{{#if this.custom}}
					<input type="text" name="custom" data-dtype="String">
				{{else}}
					{{editor this.enriched editable=false}}
				{{/if}}

			{{else if (eq attribute.type "Number")}}
			<input type="number" value="{{this.value}}" data-dtype="Number"/>

			{{else if (eq attribute.type "Resource")}}
			<input type="number" value="{{this.value}}" data-dtype="Number"/>
			<input type="number" value="{{this.max}}" data-dtype="Number"/>
			{{/if}}
        </li>
        {{/each}}
    </ol>
</form>
