<form class="pbta-attribute-dialog">
    <ol>
        {{#if description}}<div>{{description}}</div>{{/if}}
        {{#each choices as |choice|}}
        <li class="flexrow" data-uuid="{{@index}}">
            <input class="choice" type="radio" name="{{../attribute}}" value="{{@index}}" data-dtype="Number" {{checked (eq @index 0)}}>
			{{#if (or (eq ../type "LongText") (eq ../type "Details"))}}
				{{#if choice.custom}}
					<input type="text" name="custom" data-dtype="String"/>
				{{else}}
					{{editor choice.enriched editable=false engine="prosemirror"}}
				{{/if}}

			{{else if (eq ../type "Number")}}
			<input type="number" value="{{choice.value}}" data-dtype="Number" readonly/>

			{{else if (eq ../type "Resource")}}
			<input type="number" value="{{choice.value}}" data-dtype="Number" readonly/>
			<input type="number" value="{{choice.max}}" data-dtype="Number" readonly/>

			{{else if (or (eq ../type "ListMany") (eq ../type "ListOne")) }}
			<ul class="cell__checkboxes flexcol">
				{{#each choice.options as |option optionKey|}}
					<label class="flexrow">
						<input type="text" class="input input-title" value="{{option.label}}" readonly>
					</label>
				{{/each}}
			</ul>

			{{else}}
			<input type="text" value="{{choice.value}}" data-dtype="String" readonly/>

			{{/if}}
        </li>
        {{/each}}
    </ol>
</form>
