<form class="pbta-choice-dialog">
    <div>{{desc}}</div>
    <ol class="items-list">
        {{#each choices}}
        {{#if (lte this.advancement ../parent.advancements)}}
        <li class="item flexrow" data-uuid="{{this.uuid}}">
            <div class="item-name flexrow">
                <img src="{{this.img}}" height="32" width="32">
                <label>{{this.name}}</label>
            </div>
            {{#if this.granted}}
			<input type="checkbox" {{checked this.granted}} disabled>
            {{else}}
			<input type="checkbox" name="{{this.uuid}}" {{checked this.granted}}>
            {{/if}}
            <div class="item-description">
                {{{pbtaTags this.tags}}}
                <div class="description">{{editor this.desc editable=false engine="prosemirror"}}</div>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </ol>
</form>
