<li class="directory-item document {{@root.documentCls}} flexrow" data-entry-id="{{this.id}}" data-document-id="{{this.id}}">
  {{#if this.thumbnail}}
  <img class="thumbnail" title="{{this.name}}" data-src="{{this.thumbnail}}"/>
  {{/if}}
  <h4 class="entry-name document-name">
	<a>{{this.name}}</a>
	{{#if (eq this.type "character")}}
		<span class="actor-level">
			{{#if this.system.playbook.name}}
			{{this.system.playbook.name}} {{#unless @root.hideAdvancement}}<span class="advancement-label">({{localize "PBTA.AdvancementNumber" number=this.system.advancements}})</span>{{/unless}}
			{{else}}
			{{localize "PBTA.NoPlaybook"}} {{#unless @root.hideAdvancement}}<span class="advancement-label">({{localize "PBTA.AdvancementNumber" number=this.system.advancements}})</span>{{/unless}}
			{{/if}}
		</span>
	{{/if}}
  </h4>
</li>
