<li class="directory-item entry document {{ @root.documentCls }} flexrow" data-entry-id="{{ id }}">
	{{#if thumbnail}}
	<img class="thumbnail" src="{{ thumbnail }}" alt="{{ name }}" loading="lazy">
	{{/if}}
	<div class="flexcol">
		<a class="entry-name ellipsis" data-action="activateEntry">{{ name }}</a>
		{{#if (eq type "character")}}
			<span class="actor-level">
				{{#if system.playbook.name}}
				{{system.playbook.name}} {{#unless @root.hideAdvancement}}<span class="advancement-label">({{localize "PBTA.AdvancementNumber" number=system.advancements}})</span>{{/unless}}
				{{else}}
				{{localize "PBTA.NoPlaybook"}} {{#unless @root.hideAdvancement}}<span class="advancement-label">({{localize "PBTA.AdvancementNumber" number=system.advancements}})</span>{{/unless}}
				{{/if}}
			</span>
		{{/if}}
	</div>
</li>
