{{!-- !LOCALIZEME entire file --}}
{{#if numOfAttributes}}
<a type="button" data-action="update-attributes">Update Attributes</a>
{{/if}}
<ol>
	{{#each system.attributes as | attribute key | }}
	<li class="attribute-set" data-type="{{attribute.type}}" data-key="{{key}}">
		<div class="flexrow">
			<span>{{attribute.label}}</span>
			<a style="flex: 0; margin: 3px;" data-action="add-attribute-choice">
				<i class="fa fa-plus"></i>
			</a>
		</div>
		<ol>
			{{#each this.choices}}
			<li class="form-group" data-id="{{@index}}">
				{{#if (or (eq attribute.type "LongText") (eq attribute.type "Details"))}}
				{{editor this.enriched target=(concat "system.attributes." @../key ".choices." @index ".value") button=true owner=@root.owner editable=@root.editable}}
				<input type="text" name="system.attributes.{{@../key}}.choices.{{@index}}.value" value="{{this.enriched}}" hidden>

				{{else if (eq attribute.type "Number")}}
				<input type="number" name="system.attributes.{{@../key}}.choices.{{@index}}.value" value="{{this.value}}" data-dtype="Number"/>

				{{else if (eq attribute.type "Resource")}}
				<input type="number" name="system.attributes.{{@../key}}.choices.{{@index}}.value" value="{{this.value}}" data-dtype="Number"/>
				<input type="number" name="system.attributes.{{@../key}}.choices.{{@index}}.max" value="{{this.max}}" data-dtype="Number"/>

				{{/if}}
				<a style="flex: 0; margin: 3px;" data-action="delete-attribute-choice">
					<i class="fa fa-trash"></i>
				</a>
			</li>
			{{/each}}
		</ol>
	</li>
	{{/each}}
</ol>