<header class="sheet-header">
	{{#if isNPC}}
	<div class="cell cell--image">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
	</div>
	{{/if}}
	<div class="sheet-header__fields flexrow">
		<input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
		{{#if isCharacter}}
		<span class="sheet-playbook">
			<span class="view-playbook" data-playbook="{{system.playbook.uuid}}" title="{{localize 'PBTA.ViewPlaybook'}}">
			<i class="fas fa-eye"></i>
			</span>
			<select class="input--title charplaybook">
			{{selectOptions playbooks selected=system.playbook.uuid nameAttr="uuid" labelAttr="name" blank="" sort=true}}
			</select>
		</span>
		{{/if}}
	</div>
</header>