<header class="sheet-header">
	{{#if (or isNPC limited)}}
	<div class="cell cell--image">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" />
	</div>
	{{/if}}
	<div class="sheet-header__fields flexrow">
		<input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
		{{#if (and isCharacter (not limited))}}
		<span class="sheet-playbook">
			{{#if system.playbook.uuid}}
			<span class="view-playbook" data-playbook="{{system.playbook.uuid}}" data-tooltip="{{localize 'PBTA.ViewPlaybook'}}" data-tooltip-direction="UP">
				<i class="fas fa-eye"></i>
			</span>
			{{else}}
			<span class="view-playbook">
				<i class="fas fa-eye-slash"></i>
			</span>
			{{/if}}
			<select class="input--title charplaybook">
			{{selectOptions playbooks selected=system.playbook.uuid valueAttr="uuid" labelAttr="name" blank=(localize "PBTA.Playbook") sort=true}}
			</select>
		</span>
		{{/if}}
	</div>
</header>