<div class="sheet-header">
	<div class="sheet-header__fields flexrow">
		{{#if (or isNPC limited)}}
		<div class="cell cell--image">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" />
		</div>
		{{/if}}
		<input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
		{{#if (and isCharacter (not limited))}}
		<div class="sheet-playbook flexrow">
			<div class="view-playbook {{#if system.playbook.uuid}}active{{/if}}"
				data-playbook="{{system.playbook.uuid}}"
				data-tooltip="{{localize 'PBTA.ViewPlaybook'}}"
				data-tooltip-direction="UP"
			>
				{{#if system.playbook.uuid}}
				<i class="fas fa-eye"></i>
				{{else}}
				<i class="fas fa-eye-slash"></i>
				{{/if}}
			</div>
			<select class="input--title charplaybook">
			{{selectOptions playbooks selected=system.playbook.uuid valueAttr="uuid" labelAttr="name" blank=(localize "PBTA.Playbook") sort=true}}
			</select>
			{{#unless (ne sheetSettings.hideAdvancement "none")}}
			<input class="input--title advancement"
				type="number"
				name="system.advancements"
				value="{{system.advancements}}"
				min="0"
				data-tooltip="PBTA.Advancements"
				data-tooltip-direction="UP"
			>
			{{/unless}}
			{{#unless (eq sheetSettings.hideAdvancement "both")}}
			<div class="advancement {{#if canAdvance}}active{{/if}}"
				data-action="advancement"
				data-tooltip="PBTA.Advance"
				data-tooltip-direction="UP"
			>
				<i class="fas fa-arrow-up"></i>
			</div>
			{{/unless}}
		</div>
		{{/if}}
	</div>
</div>