<header class="sheet-header">
	{{#if (or isNPC limited)}}
	<div class="cell cell--image">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" />
	</div>
	{{/if}}
	<div class="sheet-header__fields flexrow">
		<input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
		{{#if (and isCharacter (not limited))}}
		<div class="sheet-playbook flexrow">
			<div class="view-playbook {{#if system.playbook.uuid}}active{{/if}}"
				data-playbook="{{system.playbook.uuid}}"
				data-tooltip="{{localize 'PBTA.ViewPlaybook'}}"
				data-tooltip-direction="UP"
			>
				{{#if system.playbook.uuid}}
				<i class="fas fa-eye"></i>
				{{else}}
				<i class="fas fa-eye-slash"></i>
				{{/if}}
			</div>
			<select class="input--title charplaybook">
			{{selectOptions playbooks selected=system.playbook.uuid valueAttr="uuid" labelAttr="name" blank=(localize "PBTA.Playbook") sort=true}}
			</select>
			<input class="input--title advancement"
				type="number"
				value="{{system.advancements}}"
				min="0"
				data-tooltip="Advancement LOCALIZEME"
				data-tooltip-direction="UP"
			>
			<div class="advancement {{#if canAdvance}}active{{/if}}"
				data-action="advancement"
				data-tooltip="Level Up LOCALIZEME"
				data-tooltip-direction="UP"
			>
				<i class="fas fa-arrow-up"></i>
			</div>
		</div>
		{{/if}}
	</div>
</header>